<div class="flex flex-col flex-auto min-w-0">
    <app-hero></app-hero>
    <div class="flex flex-col items-center px-6 pb-6 sm:pb-10 sm:px-10">
        <!-- Cards -->
        <div class="grid w-full max-w-sm grid-cols-1 -mt-16 gap-y-8 md:gap-y-0 md:gap-x-6 md:max-w-4xl sm:-mt-24">
            <!-- FAQs card -->
            <div class="relative flex flex-col overflow-hidden transition-shadow duration-150 ease-in-out shadow rounded-2xl hover:shadow-lg bg-card">
                <div class="flex flex-col items-center flex-auto p-8">
                    <div class="text-2xl font-semibold">
                        <mat-icon svgIcon="mat_solid:announcement"></mat-icon>
                        Why should you use us?
                    </div>
                    <div class="mt-1 text-secondary">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum cumque nesciunt, sint reiciendis repellat accusantium repudiandae a laboriosam aliquam molestiae sequi eligendi ad dicta neque praesentium error esse earum ullam!
                    </div>
                </div>
                <div class="flex items-center justify-center px-8 py-4 text-primary-500 dark:text-primary-400 bg-gray-50 dark:bg-transparent dark:border-t">
                    <a class="flex items-center" [routerLink]="'/shop'">
                        <span class="absolute inset-0"></span>
                        <span class="font-medium">About Us</span>
                        <mat-icon class="ml-2 text-current icon-size-5" [svgIcon]="'heroicons_solid:arrow-narrow-right'"></mat-icon>
                    </a>
                </div>
            </div>
        </div>


    </div>

    <div class="flex flex-col w-full max-w-5xl px-6 pb-6 mx-auto sm:pb-10 sm:px-10">
        <div class="flex flex-row items-center justify-between">
            <h2 class="text-3xl font-bold">ຮ້ານຄ້າ</h2>
            <a class="flex flex-row items-center text-xl" routerLink="/shop">ຮ້ານຄ້າທັງໝົດ <mat-icon svgIcon="arrow_forward_ios"></mat-icon></a>
        </div>
        <mat-divider class="my-4"></mat-divider>
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2 justify-items-center" *ngIf="shops">
            <ng-container *ngFor="let shop of shops; let i = index">
                <fuse-card class="flex flex-col w-full md:flex-row md:max-w-160 filter-listing">
                    <div class="w-full flex-0 md:w-64">
                        <img class="object-cover w-full h-full" *ngIf="shop.images.coverPhoto" [src]="shop.images.cover" alt="Card cover image">

                        <div *ngIf="!shop.images.coverPhoto" class="flex items-center justify-center w-full h-full bg-red-400 min-h-40">
                            <span class="text-xl text-white">{{shop.name}}</span>
                        </div>
                    </div>
                    <div class="flex flex-col flex-auto m-8 mb-4">
                        <div class="text-2xl font-semibold leading-tight">{{shop.name}}</div>
                        <div class="flex items-center mt-2 -ml-1 leading-none">
                            <div class="mx-2 text-secondary">&bull;</div>
                            <div class="text-secondary">{{ shop.openingHours }}</div>
                        </div>
                        <div class="flex items-center mt-6 ">Tag:
                            <div class="m-1 py-0.5 px-3 rounded-full text-sm font-medium text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700 ng-star-inserted"> Tasks </div>
                        </div>
                    </div>
                    <a class="absolute inset-0 flex items-center" [routerLink]="['/shop/', shop._id]"></a>
                </fuse-card>
            </ng-container>
        </div>
    </div>
</div>
