<div class="relative flex flex-col sm:flex-row w-full min-w-0 sm:absolute sm:inset-0 sm:overflow-hidden">

    <aside class="bg-white h-screen w-full max-w-60">
        <!-- <ul class="flex w-full flex-col">
            <li class="hover:bg-slate-100">
                <a>
                    <mat-icon></mat-icon> Menu1</a>
            </li>
            <li class="hover:bg-slate-100"><a>Menu2</a></li>
        </ul> -->

        <div class="flex w-full flex-col px-4 mt-6">
            <h3 class="text-xl font-bold">ຈັດການຂໍ້ມູນ</h3>
            <mat-divider class="my-4"></mat-divider>
            <ng-container *ngFor="let item of menuItems, let i = index">
                <a [routerLink]="item.link" class="hover:bg-slate-200 px-4 py-2 rounded-md text-lg active mb-3">
                    <div class="flex items-center">
                        <mat-icon *ngIf="item.icon" [svgIcon]="item.icon" class="mr-2 text-xl"></mat-icon>
                        <span>{{item.title}}</span>
                    </div>
                </a>
            </ng-container>
        </div>
    </aside>

    <main class="w-full p-8">
        <router-outlet></router-outlet>
    </main>

</div>
