<!-- Button -->
<button mat-icon-button [matMenuTriggerFor]="userActions">
    <span class="relative">
        <ng-container *ngIf="showAvatar && user?.images?.profilePhoto">
            <img class="rounded-full w-7 h-7" *ngIf="showAvatar && user " [src]="user?.images?.profilePhoto">
        </ng-container>
        <ng-container *ngIf="showAvatar && !user?.images?.profilePhoto">
            <span *ngIf="showAvatar && user " class="flex items-center p-2 justify-center w-full h-full rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                {{ user?.name.charAt(0) }}
            </span>
        </ng-container>
        <mat-icon *ngIf="!showAvatar || !user" [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
        <span class="absolute bottom-0 right-0 w-2 h-2 rounded-full" [ngClass]="{'mr-px mb-px': !showAvatar || !user,
                          'bg-green-500': user?.isActive === true,
                          'bg-red-500': user?.isActive === false || !user?.isActive}"></span>
    </span>
</button>

<mat-menu class="min-w-80" [xPosition]="'before'" #userActions="matMenu">
    <ng-container *ngIf="showAvatar && user">
        <button mat-menu-item>
            <span class="flex flex-col leading-none">
                <span>ເຂົ້າສູ່ລະບົບດ້ວຍ</span>
                <span class="mt-1.5 text-md font-medium">{{user.account.username}}</span>
            </span>
        </button>
        <mat-divider class="my-2"></mat-divider>
        <button mat-menu-item>
            <span class="flex flex-col leading-none">
                <span>ຊື່ຜູ້ໃຊ້</span>
                <span class="mt-1.5 text-md font-medium">{{user.name}}</span>
            </span>
        </button>
        <mat-divider class="my-2"></mat-divider>
        <button mat-menu-item (click)="signOut()">
            <mat-icon [svgIcon]="'heroicons_outline:logout'"></mat-icon>
            <span>ອອກຈາກລະບົບ</span>
        </button>
    </ng-container>
    <ng-container *ngIf="!showAvatar || !user">
        <button mat-menu-item (click)="signIn()">
            <mat-icon [svgIcon]="'heroicons_outline:login'"></mat-icon>
            <span>ເຂົ້າສູ່ລະບົບ</span>
        </button>
        <button mat-menu-item (click)="signUp()">
            <mat-icon [svgIcon]="'heroicons_outline:user-add'"></mat-icon>
            <span>ສະໝັກສະມາຊິກ</span>
        </button>
    </ng-container>
</mat-menu>