<div class="relative px-4 pt-8 overflow-hidden pb-28 sm:pt-20 sm:pb-48 sm:px-16 bg-img dark:bg-gray-900 dark">
    <svg class="absolute inset-0 pointer-events-none" viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
        <g class="text-red-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
            <circle r="234" cx="196" cy="23"></circle>
            <circle r="234" cx="790" cy="491"></circle>
        </g>
    </svg>
    <div class="relative z-10 flex flex-col items-center">
        <h2 class="text-xl font-semibold text-gray-700">HELP CENTER</h2>
        <div class="mt-1 text-4xl font-extrabold leading-tight tracking-tight text-center text-gray-700 sm:text-7xl">
            How can we help you today?
        </div>
        <mat-form-field class="w-full mt-10 fuse-mat-no-subscript fuse-mat-rounded fuse-mat-bold max-w-80 sm:max-w-120 sm:mt-20">
            <input matInput [placeholder]="'ຄົ້ນຫາຮ້ານຄ້າ...'">
            <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
        </mat-form-field>
    </div>
</div>
